.navbar-nav {
    justify-content: flex-end;
}

.nav-item {
    padding: 0% 3%;
}

#logo {
    width: 50px;
}

body {
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.inline {
    display: inline;
}

/* common styling */
.page-position {
    margin-top: 80px;
}

.page-head {
    margin-bottom: 28px;
}

.page-title {
    font-size: 300%;
    margin-bottom: 25px;
    position: relative;
}

.page-add {
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}

/*index styling */

.welcome {
    margin: 100px 0;
}

.blue {
    color: #1053fd;
}

.welcome-message {
    font-family: 'Prompt', sans-serif;
    font-size: 400%;
}

.welcome-logo {
    font-family: 'Great Vibes', cursive;
    font-size: 500%;
}

.welcome-question {
    color: grey;
}

.welcome-div {
    padding-top: 75px;
}

.welcome-buttons-div {
    margin: 20px 0 30px 0;
}

.welcome-buttons {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
}

.welcome-images {
    margin-left: 8%;
    padding-left: 5%;
}

@media (max-width: 1200px) {

    .welcome-div {
        padding-top: 0;
    }

    .welcome {
        margin: 80px 0;
    }
}

@media (max-width: 991px) {

    .welcome-images {
        padding-left: 0;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .welcome-message {
        font-size: 300%;
    }

    .index {
        text-align: center;
    }

    .welcome-div {
        padding-left: 0;
        margin-left: 0;
    }

    .weclome {
        padding-left: 0;
        text-align: center;
    }

    .navigation {
        text-align: center;
    }
}

@media (max-width:600px) {
    .welcome-message {
        font-size: 220%;
    }

    .welcome-questions {
        font-size: 120%;
    }

    .welcome {
        width: 90%;
        padding-left: 20%;
    }
}

/*modal styling*/
.modal-center {
    text-align: center;
}

.modal-buttons {
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.modal-icon {
    width: 30%;
    margin-bottom: 30px;
    margin-top: 12px;
}

.modal-question {
    font-size: 150%;
    margin-bottom: 20px;
}

.modal-item {
    color: #D11E35;
    font-weight: bold;
}

.modal-text {
    font-size: 125%;
    margin-bottom: 20px;
}

.modal-textbox {
    margin-bottom: 20px;
    width: 85%;
}

/*categories styling */

.categories-buttons {
    width: 20px;
}

.categories-name {
    font-size: 150%;
}


/*recipe cards styling*/

.card-recipe {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-title-section {
    position: relative;
    overflow:hidden;
}

.card-title-section h5 {
    display: inline-block;
    min-width: 100%;
    white-space: nowrap;
}

@keyframes marqueein {
    from {
        transform: translateX(0);
        margin-left: 0;
    }

    to {
        transform: translateX(-100%);
        margin-left: 100%;
    }
}

.card-title-section h5:hover {
    animation: marqueein 1.5s ease-in-out forwards;
}

.image {
    height: 200px;
}


