@page
@model FrontEnd.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="page-position">
    <div class="page-head">
        <h1 class="page-title inline">Recipes</h1>
        <button type="button" class="btn btn-primary btn-lg inline page-add" data-bs-toggle="modal" data-bs-target="#AddModal">
            Add Recipe
        </button>
    </div>
</div>
<ul>
    @foreach (KeyValuePair<Guid, RecipeModel> recipe in RecipeRequests.Recipes)
    {
        <li>

            @recipe.Value.ImageName
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        @if(recipe.Value.ImageName != "")
                {
                        <img src="/recipeImages/@recipe.Value.ImageName" class="card-img-top" alt="...">
                }
                        
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Value.Title</h5>

                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
