@page
@model FrontEnd.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="page-position">
    <div class="page-head">
        <h1 class="page-title inline">Recipes</h1>
        <button type="button" class="btn btn-primary btn-lg inline page-add" data-bs-toggle="modal" data-bs-target="#AddModal">
            Add Recipe
        </button>
    </div>

    <div class="recipes-cards">
        @foreach (KeyValuePair<Guid, RecipeModel> recipe in RecipeRequests.Recipes)
        {
            if (recipe.Value.ImageName != "")
            {
                <form method="post" asp-page-handler="recipePage" class="inline">
                    <input asp-for="RecipeId" value=@recipe.Key hidden="hidden" />
                    <button type="submit" class="recipe-card-buttons">
                        <div class="card card-recipe">

                            <img src="/recipeImages/@recipe.Value.ImageName" class="card-img-top image" alt="recipe image">

                            <div class="card-body card-title-section">
                                <h5>@recipe.Value.Title</h5>
                            </div>
                            <div>
                                @for (int i = 0; i < 3; i++)
                                {
                                    if (recipe.Value.Categories.Count > i)
                                    {
                                        <span class="badge rounded-pill recipes-categories">@recipe.Value.Categories[i]</span>
                                    }
                                }
                            </div>
                        </div>
                    </button>

                </form>
            }
        }
    </div>
</div>





