@page
@model FrontEnd.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="page-position">
    <div class="page-head">
        <h1 class="page-title inline">Recipes</h1>
        <button type="button" class="btn btn-primary btn-lg inline page-add" data-bs-toggle="modal" data-bs-target="#AddModal">
            Add Recipe
        </button>
    </div>
    @foreach (KeyValuePair<Guid, RecipeModel> recipe in RecipeRequests.Recipes)
    {
        <div class="card card-recipe" style="width: 18rem;">
            @if (recipe.Value.ImageName != "")
            {
                <img src="/recipeImages/@recipe.Value.ImageName" class="card-img-top image" alt="recipe image">
            }
            <div class="card-body card-title-section">
                <h5>@recipe.Value.Title</h5>
            </div>
        </div>
    }
</div>





